<footer id="main-footer">
  <p>
    Paulin Trognon © 2013
  </p>
  <p>
    <%= link_to_unless I18n.locale == :fr, 'Français', locale: :fr %> -
    <%= link_to_unless I18n.locale == :en, 'English', locale: :en %>
  </p>
</footer>